# stuff
*.log

# debian packaging
debian/thunar-custom-actions
debian/*.substvars
debian/*.log
debian/*-build-stamp
debian/files
*.debhelper

# temporary files
tmp*
temp*
*.tmp
*.temp

# autoconf stuff
*.cache/
*.scan
config.status

# gettext
*.mo
*.pot

# instantiated template files
Makefile
bin/uca-apply
m4/tuca.m4
share/thunar-custom-actions/system-uca/*.xml
