Source: thunar-custom-actions
Section: utils
Priority: extra
Maintainer: Yann Büchau <nobodyinperson@gmx.de>
Build-Depends: debhelper (>= 8.0.0), pandoc, m4
Standards-Version: 3.9.2
Homepage: https://github.com/nobodyinperson/thunar-custom-actions
Vcs-Browser: https://github.com/nobodyinperson/thunar-custom-actions
Vcs-Git: https://github.com/nobodyinperson/thunar-custom-actions.git

Package: thunar-custom-actions
Architecture: all
Depends: ${misc:Depends}, thunar, python3, python3-lxml, make, imagemagick,
    zenity, ghostscript, gnupg2, bc, xdg-utils, perl, findutils (>=4.6), 
    coreutils (>=8.0)
Conflicts: thunar-custom-actions
Replaces: thunar-custom-actions
Description: system-wide thunar custom actions
 thunar-custom-actions adds some system-wide custom actions and merges them
 into every user's Thunar configuration.

